html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: #2C3333;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: #EEEEEE;
        background: #2C3333;
    }

    .btn {
        background: #A5C9CA
    }

    input:not(:placeholder-shown)+label {
        color: #2C3333;
    }

    input:placeholder-shown+label {
        color: #2C3333;
    }

    a:hover {
        color: #A5C9CA;
    }

    textarea {
        color: #2C3333
    }

    .card {
        background: #2C3333;
        border-color: #EEEEEE;
    }

    .card-text {
        color: #EEEEEE;
    }

}